/* Global styles */
/* color scheme: https://coolors.co/ff6f59-254441-43aa8b-b2b09b-ef3054 */

body {
  background-color: #FF6F59;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  font-family: 'Fjalla One', sans-serif;
  box-sizing: border-box;
}

#master-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Metronome app */

#grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 200px 100px;
  grid-template-areas:
    "bpm bpm bpm bpm"
    "play pause sample volume";
  border: solid #254441 40px;
  border-radius: 50px;
  background-color: #43AA8B;
  box-shadow: #B2B09B 0px 0px 100px;
}

.grid-item-1 {
  /* Tempo input */
  grid-area: bpm;
  text-align: center;
  padding-top: 38px;
  justify-self: center;
  align-self: center;
} 

  h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
  }


  #tempo-field {
    height: 100px;
    font-family: 'Fredoka One', cursive;    ;
    font-size: 5rem;
    text-align: center;
    background-color: #ffffff27;
    border: solid #25444194 2px;
    border-radius: 5px;
    width: 90%;
  }

  #tempo-field:focus {
    outline: none;
  }


.grid-item-2 {
  /* Play button */
  grid-area: play;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.grid-item-3 {
  /* Pause button */
  grid-area: pause;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.grid-item-4 {
  /* Change sample button */
  grid-area: sample;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.grid-item-5 {
  /* Change volume button */
  grid-area: volume;
  text-align: center;
  justify-self: center;
  align-self: center;
}

  #volume-slider {
    width: 100px;
    background-color: #43AA8B;
  }


/* button style */
button {
  font-family: Arial, Helvetica, sans-serif;
  color: #3a3a3a;
  font-size: 1.1rem;
  height: 50px;
  width: 90px;
  background-color: #B2B09B;
  border: solid #d1d0c7 3px;
  border-radius: 5px;
  transition: all 0.3s;
}

button:hover {
  background-color: #9e9b8b;
}

button:focus {
  outline: none;
}

.button-active {
  background-color: #9e9b8b;
}

input[type="range"]:focus {
  outline: none;
}

i {
  font-size: 1.5rem;
  padding-top: 4px;
}